<form action="" method="post">
	<div class="row">
		{% for index in 1..4 %}
			<div class="form-group col">
				<label for="emplacement{{index}}">Emplacement #{{ index }}</label>

				<select class="form-control" id="emplacement{{index}}" name="{{index}}">
					<option value="0">Choisissez :</option>

					{% for genre in genres %}

						{% set selected = '' %}
						{% if (genre.homeOrder) == index  %}
							{% set selected = 'selected' %}
						{% endif %}

						<option value="{{ genre.id }}" {{ selected }}>{{ genre.name }}</option>

					{% endfor %}

				</select>
			</div>
		{% endfor %}
	</div>

	<button type="submit" class="btn btn-success mt-2">Enregistrer</button>
</form>
