{% extends 'base.html.twig' %}

{% block title %}Genre
	{{ genre.id }}
{% endblock %}

{% block body %}
	<h1>Genre
		{{ genre.id }}</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ genre.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ genre.name }}</td>
			</tr>
			<tr>
				<th>Ordre Page d'accueil</th>
				<td>{{ genre.homeOrder }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_back_genre_index') }}" class="btn btn-primary">Retour à la liste</a>

	<a href="{{ path('app_back_genre_edit', {'id': genre.id}) }}" class="btn btn-warning">Modifier</a>

	{{ include('back/genre/_delete_form.html.twig') }}
{% endblock %}
