{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Book index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Editor</th>
                <th>Collection</th>
                <th>Summary</th>
                <th>Isbn</th>
                <th>Pages</th>
                <th>Price</th>
                <th>Image</th>
                <th>PublicationDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.editor }}</td>
                <td>{{ book.collection }}</td>
                <td>{{ book.summary }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.pages }}</td>
                <td>{{ book.price }}</td>
                <td>{{ book.image }}</td>
                <td>{{ book.publicationDate }}</td>
                <td>
                    <a href="{{ path('app_back_book_show', {'id': book.id}) }}">show</a>
                    <a href="{{ path('app_back_book_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_book_new') }}">Create new</a>
{% endblock %}
