{% extends 'base.html.twig' %}

{% block title %}Livre
{% endblock %}

{% block body %}
	<h1>Livre</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ book.id }}</td>
			</tr>
			<tr>
				<th>Titre</th>
				<td>{{ book.title }}</td>
			</tr>
			<tr>
				<th>Editeur</th>
				<td>{{ book.editor }}</td>
			</tr>
			<tr>
				<th>Collection</th>
				<td>{{ book.collection }}</td>
			</tr>
			<tr>
				<th>Résumé</th>
				<td>{{ book.summary }}</td>
			</tr>
			<tr>
				<th>Isbn</th>
				<td>{{ book.isbn }}</td>
			</tr>
			<tr>
				<th>Pages</th>
				<td>{{ book.pages }}</td>
			</tr>
			<tr>
				<th>Prix</th>
				<td>{{ book.price }}</td>
			</tr>
			<tr>
				<th>Couverture</th>
				<td>{{ book.image }}</td>
			</tr>
			<tr>
				<th>Date de publication</th>
				<td>{{ book.publicationDate }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_back_book_index') }}" class="btn btn-primary">Retour à la liste</a>

	<a href="{{ path('app_back_book_edit', {'id': book.id}) }}" class="btn btn-warning">Modifier</a>

	{{ include('back/book/_delete_form.html.twig') }}
{% endblock %}
