<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap CSS -->
		<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
		<!-- Bootstrap icons -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

		<title>
			{% block title %}BookMark
			{% endblock %}
		</title>
		<!-- favicon -->
		<link
		rel="shortcut icon" href="{{ asset('favicon.png') }}" type="image/x-icon">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>

		<!-- Nav -->
		{% block nav %}

			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container-fluid">
					<a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none header-logo">
						<img src="{{asset('assets/images/bookmark-logo.svg')}}" height="70" alt="Logo BookMark">

					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto  mb-2 mb-lg-0">
							{% if is_granted("ROLE_ADMIN") %}
								<li class="nav-item">
									<a class="nav-link text-black " href="{{ path("app_back_user_index")}}">
										Utilisateurs</a>
								</li>
							{% endif %}
							<li class="nav-item">
								<a class="nav-link text-black" href="{{ path("app_back_genre_index")}}">
									Genres</a>
							</li>
						</ul>
						{# menu user #}
						<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
									<span>{{ app.user.alias }}</span>
									<i class="bi bi-person-square"></i>
								</a>
								<ul class="dropdown-menu">
									<li>
										<h6 class="dropdown-header">
											{% if is_granted("ROLE_ADMIN") %}
												Administrateur
											{% elseif is_granted("ROLE_EDITOR") %}
												Rédacteur
											{% endif %}
										</h6>
									</li>
									<li>
										<a class="dropdown-item" href="#">Profil</a>
									</li>
								</ul>
							</li>
							<li>
								<a class="dropdown-item" href=" {{ path('app_logout') }}">Déconnexion</a>
							</li>
						</ul>

					</div>
				</div>
			</nav>
		{% endblock %}
		<div class="container mt-5"> {% block body %}{% endblock %}
			</div>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
		</body>
	</html>
