{% extends 'base.html.twig' %}

{% block title %}Modifier l'éditorial : "{{ editorial.title }}"
{% endblock %}

{% block body %}
	<h1>Modifier l'éditorial : "{{ editorial.title }}"</h1>

	{{ include('back/editorial/_form.html.twig', {'button_label': 'Modifier'}) }}

	<a href="{{ path('app_back_editorial_index') }}" class="btn btn-primary">Retour à la liste</a>

	{{ include('back/editorial/_delete_form.html.twig') }}
{% endblock %}
