{% extends 'base.html.twig' %}

{% block title %}Liste des éditoriaux
{% endblock %}

{% block body %}
	<h1>Liste des éditoriaux</h1>
	<a href="{{ path('app_back_editorial_new') }}" class="btn btn-success">Créer</a>
	<a href="{{ path('app_back_editorial_home_active') }}" class="btn btn-info">Choisir l'éditorial pour la page d'accueil</a>

	{{ include('_flash_messages.html.twig') }}

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>Contenu</th>
				<th>Image</th>
				<th>Active</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for editorial in editorials %}
				<tr>
					<td>{{ editorial.id }}</td>
					<td>{{ editorial.title }}</td>
					<td>{{ editorial.content }}</td>
					<td>
						{% if editorial.image is not null %}
							<img style="width: 100px" src="{{ asset('assets/images/avatars/' ~ editorial.image) }}" alt="image">

						{% endif %}
					</td>

					<td>{{ editorial.active }}</td>
					<td class="d-md-flex">
						<a href="{{ path('app_back_editorial_show', {'id': editorial.id}) }}" class="btn btn-primary">Voir</a>
						<a href="{{ path('app_back_editorial_edit', {'id': editorial.id}) }}" class="btn btn-warning">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">Aucun élément</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
